* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main_titles_color: indigo;
    --main-paragraph-fontSize: 16px: --main-titles-color: rgb(46, 19, 134);
    --main_box_borderRadius: 50px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header,
footer {
    background-color: rgb(15, 136, 11);
}

.wrapper {
    padding: 0 200px;
}

header a,
footer a {
    font-size: 14px;
    color: white;
}

.flex_container {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.horizontal_content_space_between {
    justify-content: space-between;
}

.flex_container_vertical_center {
    align-content: center;
}

.header_header a:last-child {
    margin-left: 25px;
}

header ul,
.header_selection select {
    padding: 5px;
    outline: none;
    cursor: pointer;
}

.header_selection select {
    padding-right: 50px;
    padding-left: 10px;
    appearance: none;
    position: relative;
}

.header_selection select::before {
    content: "";
    position: absolute;
    top: 10%;
    right: 5px;
    bottom: 10%;
    border: 5px transparent rgb(12, 12, 12);
}

.header_button a {
    margin-bottom: 5px;
    padding: 7px 5px 5px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.header_button a:first-child {
    border-left: 1px solid;
}

.header_button a:first-child,
.header_button a:nth-child(2) {
    border-right: 1px solid;
    margin-right: -4px;
}

.header_button a:last-child {
    border-right: 1px solid;
}

.header_button a:first-child:hover {
    background-color: rgb(211, 211, 19);
}

.header_button a:last-child:hover {
    background-color: rgb(187, 14, 149);
}

.header_button a:nth-child(2):hover {
    background-color: rgb(63, 201, 8);
}


/* For Middle header content */


/* For Middle header content */

.header_navbar {
    padding-bottom: 5px;
}

.header_navbar li {
    padding: 10px;
    display: inline-block;
    position: relative;
}

.header_navbar ul {
    display: inline-block;
}

.header_navbar input {
    padding: 5px;
    outline: none;
    align-content: flex-end;
}

.header_navbar li:hover {
    background-color: rgb(15, 100, 23);
}

.header_navbar li:hover .navbar_submenu {
    background-color: rgb(15, 100, 23);
    display: block;
}

.navbar_submenu {
    display: none;
    position: absolute;
    width: 150px;
    top: 35px;
    left: 0;
    padding: 5px 10px;
    z-index: 1;
}

.navbar_submenu a {
    display: block;
    margin-bottom: 10px;
}


/* Main content style  */

main {
    margin: 0 50px;
}

main p {
    font-size: 18px;
}

.main_box {
    padding: 40px 25px;
    height: 300px;
}

.main_titles {
    font-size: 35px;
    font-weight: 800;
    color: var(--main_titles_color);
    margin-bottom: 30px;
}

.main_buttons {
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 20px;
    background-color: var(--main_titles_color);
}

.main_buttons a {
    font-size: 18px;
    color: white;
    text-align: center;
}

.main_hr {
    background-color: var(--main_titles_color);
    width: 50px;
    height: 5px;
    margin-bottom: 10px;
}

.first {
    position: relative;
}

.first img {
    width: 100%;
    max-height: 700px;
    object-fit: 100% 100%;
}

.first div {
    max-width: 400px;
    width: 100%;
    border-style: 1px solid;
    border-top-right-radius: var(--main_box_borderRadius);
    background-color: white;
    position: absolute;
    top: 15%;
    left: 7%;
}

.first button {
    margin-top: 25px;
}

section button a:hover {
    text-decoration: underline white;
}

.second {
    padding: 50px 220px;
}

.third {
    padding: 50px 35px;
    background-color: var(--main_titles_color);
}

.third_section_box {
    width: 23%;
    background-color: white;
    border-top-left-radius: var(--main_box_borderRadius);
    border-bottom-right-radius: var(--main_box_borderRadius);
    position: relative;
}

.third button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.four {
    height: 450px;
    background-color: #17cf17;
    position: relative;
}

.four .four_section_box {
    background-color: white;
    border-top-right-radius: var(--main_box_borderRadius);
    position: absolute;
    top: 15%;
    right: 45%;
    bottom: 20%;
    left: 10%;
}

.four .four_blue_box {
    background-color: var(--main_titles_color);
    position: absolute;
    top: 35%;
    right: 90%;
    bottom: 0%;
    left: 0%;
    transform: skewY(-38deg) translateY(-12.5%);
}

.four .four_green_box {
    background-color: rgb(15, 63, 15);
    position: absolute;
    top: 82%;
    right: 52.5%;
    bottom: 0;
    left: 2%;
    transform: skewX(-52deg) translateX(7.5%);
}

.five {
    padding: 0 120px 30px;
}

.fifth_section_card {
    width: 48%;
    border-bottom-left-radius: var(--main_box_borderRadius);
    z-index: 1;
    margin-top: -50px;
}

.fifth_section_card img {
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.card_text {
    padding: 40px 35px;
}

.sexth {
    position: relative;
    margin-bottom: 50px;
}

.sexth .sexth_img {
    max-width: 850px;
    width: 100%;
    height: 450px;
    object-fit: cover;
    border: solid white;
    border-bottom-left-radius: var(--main_box_borderRadius);
}

.sexth_text_box {
    max-width: 600px;
    background-color: white;
    padding: 50px 30px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 10%;
    right: 0;
}

.left_sexth_box {
    max-width: 600px;
    background-color: white;
    border-top-left-radius: 50px;
    padding: 50px 30px;
    width: 100%;
    height: auto;
}

.main_subTitles {
    font-size: 20px;
    color: var(--main_titles_color);
}

.sub_menu {
    padding-top: 30px;
}

.right_sexth_box {
    max-width: 600px;
    padding: 50px 30px;
    background-color: white;
    border-top-right-radius: 50px;
    width: 100%;
    height: auto;
}

.sexth_text button {
    margin-top: 30px;
}